<% provide(:title, "Sign in") %>

<div class="panel panel-default">
	<div class="panel-heading">
  	<h3 class="panel-title">Please Sign In</h3>
 	</div>
	<div class="panel-body">
    <fieldset>
      <%= form_tag sessions_path do %>
    	<div class="form-group">
				<%#= label_tag 'School ID' %>
				<%= text_field_tag 'school_id', '', placeholder: 'School ID' %>
				<%#= label_tag 'password' %>
				<%= password_field_tag :password, '', placeholder: 'Password' %>
    	</div>
  		<%= submit_tag("Sign in", class:"btn btn-lg btn-primary btn-block") %>
  		<% end %>
  	</fieldset>
  </div>
</div>
