<% provide(:title, 'No Project') %>
<div>
	<% if current_user.role == TEACHER %>
   <p class="alert alert-info">There is currently no project in the system.<br />
   	&nbsp;&nbsp;<%= link_to 'Create a New Project', projects_path %></p>
<% else %>
   <p class="alert alert-info">You are not a member of the current project. Contact your teacher for more details. </p>
<% end %>
</div>
