<% if current_user.role == 3 %>
   <p>There is currently no project in the system.</p>
   <p><%= link_to 'Create a New Project', projects_path %></p>
<% else %>
   <p>You are not a member of the current project. Contact your teacher for more details. </p>
<% end %>