<% provide(:title, 'Listing actions') %>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @actions.each do |action| %>
      <tr>
        <td><%= link_to 'Show', action %></td>
        <td><%= link_to 'Edit', edit_action_path(action) %></td>
        <td><%= link_to 'Destroy', action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action', new_action_path %>
