<h1>Complete Walkthrough as a </h1>

<% if current_user.role == 3 %>
    <h1>Teacher</h1>
<% else %>
    <h1>Student</h1>
<% end %>

<!-- <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();{
		            <a href="Penguins.jpg" class="fancybox">Example</a>
		});

	});
</script> -->