<a id="top" name="top"></a>

<!-- Provides the content for the title of the page and the header content -->
<% provide(:title, 'Help') %>

<!-- Allow the user to download the extensive help manual-->
<div class="user_manual">
	<p class="user_manual"><%= link_to 'Download User Manual', :action => :download_help, :class => "user_manual" %></p>
</div>	

<% if current_user.role == TEACHER %>
<div class="help_accordion">
	<h3>Recommended Navigation</h3>
		<div>
			<p>1) When navigating between pages, use the back links provided in the application instead of the browser back button.</p>
			<p>2) Some tables will have the option of scrolling from left to right.  We recommend clicking anywhere in 
				the table and using the directional keys on the keyboard to move left or right.  This is much easier
				than going all the way to the bottom of the table to use the scroll bar.</p>
			<p>3) Use the Change Section dropdown located on many of the pages to change the section of students that you are viewing. If you 
				change this on one page, the entire application will change to show information from the selected section.</p>
		</div>
	<h3>Sections</h3>
		<div class="help_accordion">
			<h3>Students</h3>
				<div class="help_accordion">
					<h3>What can I do here?</h3>
						<div>
							<p>Create a new student, edit an existing student, create a new section, promote students to student managers,
							   activate or deactivate students, and create teams.</p>
						</div>
					<h3>How can I add a student?</h3>
						<div>
							<p>Simply click the Add Students link on the top left and it will take you to another page.
								Here you will have the option to either fill out a New Student form (just one student), or 
								to copy an Excel spreadsheet of an entire class.</p>
							<p>For more information, see Copy Excel Spreadsheet of Students.</p>
						</div>
					<h3>What can I do with the Choose Action dropdown?</h3>
						<div>
							<p>You can do any of the following:<br />
								1) Promote Student - Make that student a student manager.<br />
								2) Demote Student - Make that student manager a regular student again.<br />
								3) Add to Team - Add student(s) to a specific student manager's team.<br />
								4) Remove from Team - Remove student(s) from a team.<br />
								5) Deactivate Student - Prevent the student from using the project, but still keep his information in the project.<br />
								6) Activate Student - Make a deactivated student able to use the project again.</p>
							<p>To perform an action:<br />
								1) Select the student(s) by checking the checkbox next to their name.<br />
								2) Choose the action from the dropdown menu.<br />
								3) Click the Submit button next to the dropdown and that's all.
							</p>
						</div>
					<h3>What happens when I click on a student's name?</h3>
						<div>
							<p>You will be taken to that Student's Clients page.</p>
							<p>See Student's Client page for more information.</p>
						</div>
					<h3>How do I create a new section?</h3>
						<div>
							<p> Simply click the Create New Section link located in the top right and fill out the form you find there.</p>
							<p> You can choose yourself or someone else to be the teacher of the new section you created.</p>
						</div>
				</div>
			<h3>Teachers</h3>
				<div class="help_accordion">
					<h3>What can I do here?</h3>
						<div>
							<p>Create a new teacher to be added to the project, edit a teacher's information, and
								add or change a teacher for a section.</p>
						</div>
					<h3>How can I add a teacher to the project?</h3>
						<div>
							<p>Click on the Add New Teacher link to be directed to a form where you will enter
								the teachers information.</p>
							<p>Once the teacher is added to the project, he/she will be able to have full control 
								of the project for the current year and future years.</p>
						</div>
					<h3>What is the Current Teachers section?</h3>
						<div>
							<p>This will display all of the teachers that are currently using adit and have a section
								assigned to them.</p>
							<p>You will be able to add another teacher to a created section, change the teacher for
								that section, and delete a teacher from a section (if there are at least two teachers for
								that section).</p>
						</div>
					<h3>What is the Teacher Roster section?</h3>
						<div>
							<p>This is a list of all the teachers that can currently access adit.</p>
							<p>You will be able to edit a teachers information, but you will not be able to delete
								a teacher from this section.</p>
						</div>
				</div>
			<h3>Copy Excel Spreadsheet of Students</h3>
				<div class="help_accordion">
					<h3>What is this for?</h3>
						<div>
							<p>This is the easiest way to import all of your students into a section.  Instead of
								adding every single student one at a time, this will take your Excel spreadsheet of
								students and add it to your created section.</p>
						</div>
					<h3>How does this work?</h3>
						<div>
							<p>Open up your Excel spreadsheet and select everything in the spreadsheet.<br />
								You can do this by either:<br />
								1) Click anywhere in the spreadsheet and then press Ctrl. + A on the keyboard.<br />
								2) Click and hold on row 1 on the far left, and then drag down until the last row 
								that has a student has been selected.  You can use this option if you want to import
								a certain amount or certain group of students.</p>
							<p>You will then want to copy everything that you selected (keyboard shortcut is Ctrl. +
								C).</p>
							<p>Go back to adit and click on the Copy and Paste your Excel spreadsheet of students here: link
								to have a box pop up.</p>
							<p>Paste everything into the box (keyboard shortcut is Ctrl. + V).  Also, do not worry about 
								trying to align anything once you paste it into the box.</p>
							<p>Click the Add Students to Section button to import all of the students to your section.</p>
						</div>
					<h3>Any special instructions?</h3>
						<div>
							<p>The first thing you want to make sure before doing anything with this option is to 
								make sure that the Excel spreadsheet columns match this order (from left to right):<br />
								1) Course<br />
								2) ID<br />
								3) Name<br />
								4) Class<br />
								5) Grad Term<br />
								6) Box<br />
								7) Phone<br />
								8) E-mail<br />
								9) Major<br />
								10) Minor<br />
								11) Work<br />
								12) RA</p>
							<p>If the columns do not match this order, then it will not work correctly.  Also, if there is
								no column given in your Excel spreadsheet, then create that column but do not worry
								about putting in any information.</p>
						</div>
				</div>
			<h3>Student's Client Page</h3>
				<div class="help_accordion">
					<h3>How do I get here?</h3>
						<div>
							<p>You can get here by clicking on a student's name in either the Students page
								or any of the Reports pages (except the Team Summary, Clients, Bonuses, and End of Semester pages).</p>
						</div>
					<h3>What can I do here?</h3>
						<div>
							<p>You can view a summary of the student's activities or click on a sticky note to get to the Client Activity page for that client.</p>
							<p>On the Client Activity page, you can do anything that a student could do when they log into the system to update their clients.</p>
							<p> In fact, you can do any of the following: <br />
								1) View and edit any of the student's clients by clicking on the show or edit client links.<br />
								2) Enter comments or mark contact, presentation, or sale as completed.<br />
								3) Delete any updates a student has made on a client.
							</p>						
						</div>
				</div>
		</div>
	<h3>Clients</h3>
		<div class="help_accordion">
			<h3>Assign</h3>
				<div class="help_accordion">
					<h3>What do I do here?</h3>
						<div>
							<p>You can view a list of all the approved clients for the project, see which students have which clients,
								and assign specific clients to specific students.</p>
						</div>
					<h3>How do I assign a client to a student?</h3>
						<div>
							<p>To the left of each client will either be a student's name or an Assign button.</p>
							<p>If the client has already been chosen or assigned to a student, the student's name
					   			and ID will be there.  However, if the client is open for anyone, then the Assign button will be there.</p>
							<p>Clicking on the Assign button will take you to the Assign Clients page.  Here, you will
								see a list of all the students from the section you have selected.  If a student is able to get
								the client, then just click on the student and then the Assign button.</p>
						</div>
				</div>
			<h3>Approve</h3>
				<div class="help_accordion">
					<h3>What do I do here?</h3>
						<div>
							<p> You can view pending, edited, and unapproved clients as well mark edited and
								pending as either approved or unapproved.  Also, you may submit a new client yourself 
								(you will have to approve it too).</p>
						</div>
					<h3>What are Pending Clients?</h3>
						<div>
							<p>New clients that students have submitted for approval to sell an ad to.</p>
						</div>
					<h3>What are Edited Clients?</h3>
						<div>
							<p>Clients that need their information updated (contact name, telephone,
								address, etc.).</p>
						</div>
					<h3>What are Unapproved Clients?</h3>
						<div>
							<p>Clients that are not approved to sell an ad to.  They will not be
								available for the students to select or for teachers to assign.</p>
						</div>
					<h3>How do I submit a new client?</h3>
						<div>
							<p>Simply click on the Submit Your Own link located at the top left and fill out
								the form that you find there.  Once completed, your client will be located in 
								the Pending Clients list until approved.  If your submitted client is approved,
								then it will become available for a student to select or be assigned to.</p>
						</div>
					<h3>What happens when I approve/disapprove a new/edited client?</h3>
						<div>
							<p>If you approve a new client, it will be assigned to the student who 
								submitted the client.<br /> 
								If you approve an edited client, the client's information will be updated across the entire
								program.</p><br />
							<p>If you disapprove a new client, it will be placed in the Unapproved Clients list so that 
								no student can be assigned to it.<br />
								If you disapprove an edited client, the client's information will not change and 
								everything will stay the same.</p>
						</div>
				</div>
		</div>
	<h3>Reports</h3>
		<div class="help_accordion">
			<h3>What do I do here?</h3>
				<div>
					<p>View various reports detailing the progress of both students and teams, and details of 
						all the clients.</p>
					<p>The Reports tab contains links to seven main pages:<br />
						1) Student Summary<br />
						2) Team Summary<br />
						3) Clients<br />
						4) Activities<br />
						5) Sales<br />
						6) Bonuses<br />
						7) End of Semester</p>
					<p>You may also go to a Student's Clients page through all these pages except for the 
						Team Summary, Clients, Bonuses, and End of Semester pages (see the Student's Clients 
						page section for more information).</p>
				</div>
			<h3>What is the Student Summary page?</h3>
				<div>
					<p>A table of students with summary information including the number of sales, clients, and points
						that each student has.</p>
				</div>
			<h3>What is the Team Summary page?</h3>
				<div>
					<p>A table of teams with summary information including the number of sales, clients, and points
						that each team has.</p>
				</div>
			<h3>What is the Clients page?</h3>
				<div>
					<p>A table of every single client there is in the project (approved or unapproved) and all of
						their information.  The table will also have the sold Arrow and Calendar years and any 
						comment with the client.</p>
				</div>
			<h3>What is the Activities page?</h3>
				<div>
					<p>A table containing every activity recorded in the selected section(s) (every first
						contact, presentation, sale, and comment).</p>
				</div>
			<h3>What is the Sales page?</h3>
				<div>
					<p>A table containing all sale information including who made the sale, how much the sale was,
						and  how many points were received. </p>
				</div>
			<h3>What is the Bonuses page?</h3>
				<div>
					<p>A table with all the bonus points assigned to a student or team.  You will also be able to 
						edit or delete any of the points already assigned to a student or team.</p>
				</div>
			<h3>What is the End of Semester page?</h3>
				<div>
					<p>A more detailed table of all sales and their associated clients, including the student who made the sale, 
						the sale information, and the past years that the client has bought an ad.</p>
				</div>
		</div>
	<h3>Projects</h3>
		<div class="help_accordion">
			<h3>What do I do here?</h3>
				<div>
					<p>Create or update a project for a semester to be used by the class.  You will also be able 
						to archive or view archived projects.</p>
				</div>
			
			<h3>How do I create a new project?</h3>
				<div>
					<p>If you already have an active project (one that you currently have open or available), then
						you will not be able to create a new project.</p>
					<p>If you don't have an active project, then you can fill out the form and click Create Project.
						It will take a while to create the project, but once it is finished, you will be redirected
						to the Students Page under the Sections tab.</p>
				</div>
			<h3>What do Client Restrictions mean?</h3>
				<div>
					<p>This is where you will determine how many clients a student will be able to choose.</p>
					<p>The numbers available to choose are 0-10 and will be split up by:<br />
						1) Total: This is the grand total amount of clients that a student will be able to have at a
						time.<br />
						2) High: This is the maximum amount of high priority clients that a student will be able to 
						have.<br />
						3) Medium: This is the maximum amount of medium priority clients that a student will be able
						to have.<br />
						4) Low: This is the maximum amount of low priority clients that a student will be able to
						have.<br /></p>
					<p>Also, there is another option to choose for the High, Medium, and Low Restrictions.  This will
						be labeled N/A instead of a number, and it means that a student can have any amount clients of 
						that priority (no restriction).</p>
					<p>The best way to understand this is through an example (found in the next heading called 
						Example Situation for Client Restrictions).</p>
				</div>
			<h3>Example Situation for Client Restrictions.</h3>
				<div>
					<p>Here is an example situation on how to set up the Client Restrictions.</p>
					<p>You decide to use the following situation:<br />
						1) Total is 5.<br />
						2) High is 1.<br />
						3) Medium is 3.<br />
						4) Low is N/A.</p>
					<p>Students will then have the option to choose any of the following combinations (plus more):<br />
						1) 1 High, 3 Medium, and 2 Low.<br />
						2) 0 High, 2 Medium, and 3 Low.<br />
						3) 0 High, 1 Medium, and 4 Low.<br />
						4) 0 High, 0 Medium, and 5 Low.<br />
						5) 1 High, 0 Medium, and 4 Low.</p>
				</div>
			<h3>How do I edit a project?</h3>
				<div>
					<p>You will only be able to edit an active project, and you can simply click on the Edit Active 
						Project Settings link.</p>
					<p>The form will be identical to the one where you created a new project but with an added 
						option to archive the project.</p>
				</div>
			<h3>What does an archive project mean and what is it for?</h3>
				<div>
					<p>These are retired projects that are no longer in use, but can be viewed for reference.</p>
				</div>
			<h3>How do I archive a project?</h3>
				<div>
					<p>When the semester is finished and you want to archive the project, just click on the Edit
						Active Project Settings link.  At the very bottom of the page will be the option to archive
						the project.</p>
					<p>Clicking on the Yes radio button will allow you to leave a comment (optional) and export the
						entire project to an Excel spreadsheet.</p>
					<p>To export the project, click on the Excel icon, and it will begin to download.  It will take
						some time to download, so give it a couple of minutes.</p>
					<p>As a reminder, once you archive a project, you will not be able to edit the project anymore.</p>
				</div>
			<h3>How do I view an archived project?</h3>
			<div>
				<p>To view a complete archived project:<br />
					1) Find the Archived Projects section and click on the project you want to view.<br />
					2) Click on the View Archived Selected Project to see the entire project as if it were active.</p>
				<p>You will not be able to edit or make any changes to the project, but you will be able to view
					any information or export any table to an Excel spreadsheet.</p>
				<p>To go back to your active project, if you have one, go back to the Projects page and click on the
					View Active Project button.</p>
			</div>
			<h3>What if I accidentally archived a project?</h3>
				<div>
					<p>You will be able to reacitvate a project at any given time (on the basis you have not created 
						or have another active project).</p>
					<p>To reactivate a project:<br />
						1) Make sure you do not currently have an active project.<br />
						2) In the Archived Projects section, click on the Details link next to the project you want.<br />
						3) Click on the Reactivate This Project button to make the project active again.<br />
						4) You will then be able to edit and use the project.</p>
				</div>
		</div>
	<h3>Exporting to an Excel Spreadsheet</h3>
		<div>
			<p>Most pages will have the option to export a table's information to an Excel spreadsheet, and you
				can do this by clicking on the Excel icon.  It will be located near the page's title if you are
				able to export that table.</p>
			<p>It might take some time to export some tables (especially larger ones), so please be patient while it
				finishes.</p>
		</div>
</div>
<% else %>

<div class="help_accordion">
	<h3>Recommended Navigation</h3>
		<div>
			<p>1) When navigating between pages, use the back links provided in the application instead of the browser back button.<br />
			<p>2) Some tables will have the option of scrolling from left to right.  We recommend clicking anywhere in 
				the table and using the directional keys on the keyboard to move left or right.  This is much easier
				than going all the way to the bottom of the table to use the scroll bar.</p>
		</div>
	<h3>Choose Clients</h3>
		<div class="help_accordion">
			<h3>What do I do here?</h3>
				<div>
					<p>You choose the clients you want to sell an ad to.</p>
				</div>
			<h3>What does "Total clients available" mean?</h3>
				<div>
					<p>This is the total number of clients you are able to have at any given time.</p>
					<p>Once you reach zero, you will not be able to select any more clients until you
						either make a sale or release a client.</p>
					<p>To learn how to release a client, go to the My Clients section of the Help page.</p>
				</div>
			<h3>Example Situation</h3>
				<div>
					<p>Here is an example situation on the different combinations for choosing a client :)</p><br />
					<p>Let's first set the scenario:<br />
						1) Your "Total clients available" number is 3.<br />
						2) Your "High priority allowed" number is 1.<br />
						3) Your "Medium and Low priority allowed" numbers are each 3.</p>
					<p>You will then have the option to choose any of the following combinations (plus more):<br />
						1) 1 High, 1 Medium, and 1 Low.<br />
						2) 0 High, 2 Medium, and 1 Low.<br />
						3) 0 High, 3 Medium, and 0 Low.<br />
						4) 0 High, 0 Medium, and 3 Low.<br /></p>
				</div>
			<h3>What do the "High, Medium, and Low priorities allowed" numbers mean?</h3>
				<div>
					<p>An easy way to view these numbers is as a restriction on the "Total clients 
						available" number.</p>
					<p>You can never have more than the maximum number of clients.  However, there are cases when the teacher
						decides to limit the number of clients you can choose with a specific priority.</p>
					<p>If you reach zero for a priority, then you will not be able to select a
						client with that same priority type even if you have not reached the maximum number of clients that you are allowed 
						to have.  Once you make a sale or release a client with that
						priority type, then you will be able to select another.</p>
					<p>To learn how to release a client, go to the My Clients section of the Help page.</p>
				</div>
			<h3>Why are there green, yellow, or white lines next to each clients priority?</h3>
				<div>
					<p>The colors are associated with each type of priority:<br />
						<h4>Green</h4>- The client is a high priority client.<br />
						<h4>Yellow</h4>- The client is a medium priority client.<br />
						<h4>White</h4>- The client is a low priority client.<br /></p>
				</div>
			<h3>What do High, Medium, and Low actually mean?</h3>
				<div>
					<p><h4>High Priority</h4>- The client was sold an ad last year (easier to sell again 
						this year).</p>
					<p><h4>Medium Priority</h4>- The client was sold an ad two or three years ago (a good 
						chance they will buy again).</p>
					<p><h4>Low Priority</h4>- The client was either never sold an ad before or was sold
						an add more than three years ago (probably the hardest sell).</p>
				</div>
			<h3>What happens when you click the Choose button?</h3>
				<div>
					<p>This will make this client a part of your My Clients.  You can now try to make contact with them,
						give them a sales presentation, and, of course, make a sale! :)</p>
					<p>When you click on the Add button, the button will go away and a message will tell you that you
						were given the client.  If you reach the maximum number of total clients available, then you
						will not be able to select any more clients until you either make a sale or release a client.</p>
					<p>Also, once you have a client, no one else will be able to grab it.  The only way 
						another student can get a client you have worked on is if you release the client.</p>
					<p>To learn how to release a client, go to the My Clients section of the Help page.</p>
				</div>
		</div>
	<h3>My Clients</h3>
		<div class="help_accordion">
			<h3>What do I do here?</h3>
				<div>
					<p>Here, you can view sticky notes showing you your active, completed, and released clients that
						show you many points you have earned on each.</p>
				</div>
			<h3>What can I do with Active clients?</h3>
				<div>
					<p>You will be able to record actions (first contact, presentation, and sale) to a client.
						To do this, simply click anywhere within the sticky note and it will take you to the 
						Client Activity page.</p>
				</div>
			<h3>What can I do with Completed clients?</h3>
				<div>
					<p>This will take you to the Client Activity page where you will be able to delete an activity 
						or comment associated with this client.</p>
					<p>Keep in mind:<br />
						1) You can only delete an activity in reverse order by deleting the sale first, then presentation,
						and then first contact (you may delete a comment at any time).<br />
						2) Once you delete the sale, the client will now be considered an active client again.<br />
						3) Deleting an activity that has points associated with it will also delete from your total
						points.
					</p>
				</div>
			<h3>What can I do with Released clients?</h3>
				<div>
					<p>This is a reference of what activity you did with the client, but you will not be
						able to delete or create activities with it.</p>
				</div>
			<h3>How do I release a client so I can make room for another one?</h3>
				<div>
					<p> 
						1) Hover the mouse over the sticky note of the client you want to release (you will only
						be able to delete an active client, not a completed client).<br />
						2) Click on the small x that appears in the top left corner.<br />
						3) A pop-up box will appear asking you if you are sure that you want to release it along with a comment
						box where you can say why you are releasing the client (optional).<br />
						4) Click release and that's it!</p>
				</div>
			<h3>What happens when I release a client?</h3>
				<div>
					<p>The client will go to your Released Clients section, and you will now be able to select 
						another client from the Choose Clients tab.</p>
					<p>Also, if you had any points associated with this client, you will still keep them. :)</p>
				</div>
			<h3>Why are the sticky notes green, yellow, white, or gray?</h3>
				<div>
					<p>The colors are associated with each type of priority (execept gray):<br />
						<h4>Green</h4>- The client is a high priority client.<br />
						<h4>Yellow</h4>- The client is a medium priority client.<br />
						<h4>White</h4>- The client is a low priority client.<br />
						<h4>Gray</h4>- The client is a released client.
					</p>
				</div>
		</div>
	
	<h3>Client Activity Page</h3>
		<div class="help_accordion">
			<h3>What do I do here?</h3>
				<div>
					<p>Here, you can record your work with a client (First contact, presentation,
						or sale).</p>
				</div>
			<h3>How do I get here?</h3>
				<div>
					<p>Go to your My Clients tab and click on the client's sticky note that you want.</p>
				</div>
			<h3>How do I edit a client's information?</h3>
				<div>
					<p>Click on the Edit this client link located on the top right. This will take you to a form where
						 you will be able to update or edit the client's information (subject to teacher's approval of course).</p>
				</div>
			<h3>How do I record an activity?</h3>
				<div>
					<p>You will need to go in natural order of progression (first contact, then presentation, and
						finally a sale).</p>
					<p>Adit will automatically let you know what your next activity will be through an area labeled
						"My Sales Progress."  Simply click on the checkbox next to the activity you completed,
						add a comment if you have one, and then add the time when you did the activity.</p>
					<p>You may add more than one activity at a time (first contact and presentation at one time).  
						You can do this by clicking on the checkbox next to all of the activities you finished, along
						with a comment (optional) and time.</p>
					<p>When you record a sale, you will need to add the sale amount, page size, and type of payment
						to complete the sale.</p>
					<p>Also, keep in mind that once you record a sale, the client will be added to your Completed
						Clients section.</p>
				</div>
		</div>
	
	<h3>Submit Client</h3>
		<div class="help_accordion">
			<h3>What can I do here?</h3>
				<div>
					<p>You can view unapproved and pending clients, and you can also submit new clients that you wish
						to sell an ad to.</p>
				</div>
			<h3>How does submitting a new client work?</h3>
				<div>
					<p>First, check the pending and unapproved client lists below to make sure that
						the client you want to submit has not already been submitted.</p>
					<p>Then, fill out the form at the top of the page.</p>
					<p>Your newly submitted client will be put in the pending clients list until your teacher approves
						or disapproves your submission.</p>
					<p>If the client is approved, the client will be added your active clients, and you will be 
						able to work with that client.  Otherwise, it will be moved from the pending list to
						the unapproved list, and you will not be able to try to sell an ad to that business.</p>
				</div>
			<h3>Why are there sometimes when I cannot submit a new client?</h3>
				<div>
					<p>If you already have the maximum number of clients that you are permitted to have, you will not be 
						able to submit a new client because you need to have space to add the new client if it gets
						approved.</p>
				</div>
		</div>
</div>

<% end %>