<h1>Need help for </h1>

<% if current_user.role == 3 %>
	<h1>Manage Section</h1>
<% if @help_page == '/clients' %>
	<a class="fancybox" rel="gallery" href="/assets/choose1.JPG"><img src="/assets/choose1.JPG" width="300" height="214" alt=""/></a>
<% end %>
	<h1>Manage Clients</h1>

<% else %>
	<h1>Choose Clients</h1>
	
	<a class="fancybox" rel="gallery" href="/assets/choose1.JPG"><img src="/assets/choose1.JPG" width="300" height="214" alt=""/></a>
	<div class="hidden">
	<a class="fancybox" rel="gallery" href="/assets/my1.JPG"><img src="/assets/my1.JPG" alt=""/></a>
	</div>
	<h1>My Clients</h1>
	
	<h1>Submit Client</h1>
<% end %>

<script type="text/javascript">
	
	$("a.fancybox").fancybox({
		transitionIn: 'fade',
		transitionOut: 'fade',
		titlePosition: 'inside',
		padding: 20
	});

</script>