<% if @user.role != 3 %>
	<h1>New student</h1>
	<%= render 'form' %>
<% else %>
	<h1>New teacher</h1>
	<%= render 'teacher_form' %>
<% end %>

<%= link_to 'Show', @user %>
<%= link_to 'Back', :back %>
