<% if @user.role != 3 %>
	<h1 class = "col-md-12" id = "heading">Add Student</h1>
	<%= params[:per_page] %>
<% else %>
	<h1>New teacher</h1>
	<%= render 'teacher_form' %>
<% end %>

<%= link_to 'Back', :back %>

