
<%= params[:per_page] %>

<% if @user.role != 3 %>
	<h1 class = "col-md-12" id = "heading">New student</h1>
	<%= render 'form' %>
<% else %>
	<h1 class = "col-md-12" id = "heading">Editing teacher</h1>
	<%= render 'teacher_form' %>
<% end %>

<%= link_to 'Back to Manage Section', users_path, :class => 'btn btn-large btn-primary btn-sm' %>

<br /><br /><br /><br /><br /><br /><br /><br /><br />
