<% provide(:title, "Unauthorized") %>

   <p class='alert alert-info'>Only teachers are permitted to see this page.</p><br />
   <%= link_to 'Go back to My Clients.', {controller: :receipts, action: :my_receipts, id: current_user.id } %>

