// Place all the styles related to the BonusType controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New/Edit
.label-field {
  text-align: right;
  width: 10em;
  padding-bottom: 1em;
  margin-bottom: 1em !important;
}

.text-field {
  text-align: left;
  padding-bottom: 1em;
  margin-bottom: 1em !important;
}

tr {
  padding: 1em;
}

