/**********************************************
Universal Styling for Clients
***********************************************/
.clients a, a:link, a:visited {
font-size: 1.2em;
}
.warning { 
	color: red
}
.clickable {
	cursor: pointer
}
.clients th.alert.alert-info{
	font-size: 1em;
	background-color: inherit;
	border-left: none;
	border-right: none;
	border-color: #DC0000;
	border-radius: 0px;
	border-width: .2em;
	color: black;
	padding: .5em;
	width: auto;
}
.clients .panel-heading h3{
  margin-bottom: 2em;
}

.clients .panel-primary{
  margin-top: 2em !important;
  border-color: black;
  margin-bottom: 1em !important;
}
 .show .panel-primary{
  margin-top: 5em !important;
  margin-bottom: 1em !important;
  border-color: black;
  width: 50em !important;
}
.clients .actions a{
	vertical-align: -55%;
}
.clients #sselect-section{
  float: right;
  padding-right: 2em;
  margin-top: -5.3em;
}
.clients .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
cursor: pointer;
}
.clients #feedback {
  font-size: 1.4em;
}

/**********************************************
Assign Client Page  
***********************************************/
.clients #choose_section{
	float: right;
	margin-top: 1.5em !important;
}
.clients .studentList{
  width: 45em;
  margin-top: 2em;
  margin-left: 1em;
}
.clients #students .ui-selecting {
	 background: #DC0000; 
	 color: white; 
 }
 
.clients #students .ui-selected { 
	background: #DC0000; 
	color: white; 
}
.clients #students { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
.clients #students li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.4em; 
	height: auto; 
}
.clients #assign{
	float: left;
  width: 35em;
  margin-top: 4em !important;
}
.clients .assign {
  padding: .7em !important;
  margin: .4em !important;
}
.clients #assignClient{
  margin-top: 1.5em;
  margin-left: 4.5em;
}
.clients #checkClients {
  width: inherit;
  margin-bottom: 1em !important;
  padding: 1em !important;
  font-size: 1.3em;
}

/**********************************************
Form page           
***********************************************/
.clients #business_list{
	width: 22em;
	max-height: 10em;
	overflow: auto;
	margin-left: -.5em;
}
.clients #businessNames{
	width: 22em;
}
td {
  padding: .5em;
}

.clients .label-field {
  text-align: right;
}

.clients .text-field {
  text-align: left;
}
.clients .form-control {
  width: 20em;
  margin-right: .5em;
}

/**********************************************
Tables       
***********************************************/
.clients .assign_table tbody {
  tr {
    height: 3em;
  }
  tr .priority span {
    padding: .2em .5em;
    border-left: .4em solid;
  }
  tr.high .priority span {
    //background: #e8ffe3;
    border-left-color: #43d852;
  }
  tr.medium .priority span {
    //background: #fefdca;
    border-left-color: #f3e32f;
  }
  tr.low .priority span {
    //background: #fff;
    border-left-color: #ddd;
  }
}
.clients .medium, .high, .low{
	height:20px !important;
}
p.addMargin {
  margin-top: 1em;
  margin-bottom: 1em;
}
