#feedback { 
	font-size: 1.4em; 
}
#students .ui-selecting { background: #FECA40; }
#students .ui-selected { background: #F39814; color: white; }
#students { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#students li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: auto; }



.clients #back{
	float: left;
	margin-left: 10.5em;
	margin-top: -1.3em;
}
.clients .panel-primary{
	margin-top: 5em !important;
	border-color: black;
}


.clients .list-group{
	width: 35em;
}
.clients .panel-heading h3{
	margin-bottom: 2em;
}

.clients #choose_section{
	margin-left: 45em;
	margin-top: -22em !important;
}
.clients #assign{
	width: 35em;
	margin-bottom: 2em !important;
}

.clients #assignClient{
	margin-top: 1.5em;
}
.clients .studentList{
	width: 45em;
	margin-top: 2em;
	margin-left: 1em;
}
.clients .alert{
	width: 45em;
}

#business_name input{
	width: 25em;
}

#add_city_st{
	margin-top:2em;
}
#add_city_st #client_address{
	margin-left: 3.94em;
	
}
#client_address{
	width:20em;
}

#client_telephone{
	width: 15em;
}

#client_city{
	width:8em;
}

#city_st_zip{
	margin-top:1em;
}
#city_st_zip input {

}

#city_st_zip label {
	margin-left: 6.1em;
}
#address{
	margin-top: 1em;
}
#address input {

}

#address label {
	margin-left: 3.8em;
}

#contact_info{
	margin-top: 1em;
}
#contact_info label {
	margin-left: 1.5em;
}
#client_zipcode{
	width:4em;
}
#contact_info #client_contact_title{
	margin-left: 1em;
}

#phone_email{
	margin-top: 1em;
}

#phone_email label {
	margin-left:4.3em;
}

#comment{
	margin-top: 2em;
}

#comment textarea{
	margin-left: 4em;
}


.warning { color: red}

