.actions{
  margin-top: 2em;
}
#archived_project{
  margin-top: 2em;
}

#active_project{
  color: black;
}

#archived{
  margin-top: 2em;
}

.form_background{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  border: 
  #EEE solid 1em;
  border-radius: 1em;
}

td {
  padding: .5em;
}

.label-field {
  text-align: right;
}

.text-field {
  text-align: left;
}

.header {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

#topheader {
  margin-bottom: 1em !important;
}
