.actions{
  margin-top: 2em;
}
#archived_project{
  margin-top: 2em;
}
#start_time{
  margin-left: 1em;
  margin-top: 1em;
}
#end_time{
  margin-left: 22em;
  margin-top: -1.9em;
  margin-bottom: 1em !important;
}
.panel-primary{
  border-color: black;
}

.panel-heading{
  background-color: #747474 !important;
}

#high_priority{
  margin-top: 1em;
}

#medium_priority{
  margin-left: 13em;
  margin-top: -1.5em;
}

#low_priority{
  margin-left: 28em;
  margin-top: -1.5em;
}

#max_clients{
  margin-top: 2em;
}

#project_options{
  margin-top: 2em;
}

#priority_dropdown{
  align: right;
}

#active_project{
  color: black;
}

#max_clients select{
  margin-left: .75em;
}

#archived{
  margin-top: 2em;
}

.form_background{

  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2.5em;
  margin-top: 2em !important;
  border: 
  #EEE solid 1em;
  border-radius: 1em;
}