#price_label{
	margin-left: 2em;
	margin-top: 1em !important;
}
#page_size{
	margin-top: 1em;
	margin-left: 4.9em;
}
.form_background{

	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2.5em;
	margin-top: 5em !important;
	border: 
	#EEE solid 1em;
	border-radius: 1em;
}
#timepicker{
	margin-left: 2em;
	margin-top: 1em;
}
#comment{
	margin-left: 2em;
}
#success{
	color: #DC0000;
	font-size: 18px;
	margin-top: .5em !important;
	margin-left: 1.3em;
}

.receipts .alert{
	font-size: 1.5em;
	background-color: inherit;
	border-left: none;
	border-right: none;
	border-color: #DC0000;
	border-radius: 0px;
	border-width: .2em;
	color: #000;
	padding: .5em;
}
#comment_box{
	width: 35em;

}
#FirstContact p{
	margin-top: 1em !important;
}
.action label{
	font-size: 15px;
	margin-top: 1em;
}
.action input{
	margin-left: 2em;
}
#comment{
	//float: left;
	//margin-top: -14em;
}
.receipts.show .panel-primary {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 2em;
	color: 
	#DC0000;
}

.show #heading{
	//padding-top: .3em;
}

#info_center{
	text-align: center;
	font-size: 2.2em;
	margin-top: 4em;
	font-variant: none;
	text-decoration: none;
	color: 
	#DC0000;
	background-color: 
	#EBEBEB;
	border-color: 
	#EBEBEB;
	border-radius: 5px;
	height: 2em;
	padding-top: .4em;
}

.receipts .panel-primary{
	width: 40em;
	float:left;
	margin-top: 2em;
}

.receipts #releaseComment{
  margin-left: 1em;
}

.receipts #body {
  margin: 1em;
  width: 550px;
}

.receipts #cancel {
  margin: 1em 0em 1em 1em !important;
} 

.receipts #switchText{
  margin: 1em 0em 1em 1em !important;
}
.receipts #client_message{
	border: 2px solid black;
	padding: 1em;
	border-radius: 1em;
	width: 15em;
	text-align: center;
	margin-top: 10em !important;
}
.receipts #edit_client{
	float: right;
	margin-top: -1em;
}
#email{
	text-align: center;
	margin-top: -.5em;
}
#email_comment{
	float: right;
	margin-top: -5em;
	text-align: right;
}

#address_name{
	//margin-top: -4.3em !important;
}
.receipts #client_info{
	//text-align: left;
	font-size: 16px;
	margin-top: 0em;
	//width: 20em;
	//float: right;
}

.receipts .list-group-item{
	padding: .2em .1em;
}


.receipts .client:first-child {
      margin-left: 0 !important;
}

.receipts #page {
  //width: 80em;
  margin: 0 auto;
  position: relative;
  //padding: 2em;
}

.receipts h2 {
  font-size: 2em;
}
    
.receipts h3.business {
  margin-top: 0 !important;
  clear: none;
  color: black;
}

.receipts .client {
  box-shadow: .3em .3em .3em #ccc;
  position: relative;
  //border: solid .4em rgba(0, 0, 0, 0.1);
  //border: solid .1em #ccc;
  box-sizing: border-box;
  display: inline-table;
  margin: 1.5em 1.5em 0 0 !important;
  &.active {
    width: 15em;
    height: 20em;
    .client-container {
      width: 15em;
      height: 20em;
    }
  }
  .client-container {
    background: #f6f6f6;
    border-left: solid .7em #ccc;
    height: 100%;
    width: 100%;
    display: block;
    section.info {
      padding: 1.2em;
      font-style: italic;
      font-weight: bold;
      ul.client_status {
        margin: 0;
        padding: 0;
      }
    }
  }
}

li.todo {
  padding-left: 1.3em;
  list-style-type: none;
  margin: 0;
}

li.todo.todo-checked {
  background: left center no-repeat image-url('check.svg');
}

.client .client-container {
  cursor: pointer;
}

.receipts .client.completed,
.receipts .client.released {
  width: 15em;
  height: 12em;
  margin: .5em;
  .client-container {
    padding: .9em;
    width: 15em;
    height: 12em;
  }
}

.client.released .client-container {
  color: #666;
  background: #e9e9e9 !important;
  border-color: #ccc !important;
}

.view_button {
  display: none;
}

.client h3 {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}

.client.high .client-container {
  background: #e8ffe3;
  border-left-color: #43d852;
}

.client.medium .client-container {
  background: #fefdca; /* Old browsers */
  border-color: #f3e32f;
}

.client.low .client-container {
  background: #fff;
  border-color: #ddd;
}

button {
  display: block;
  background: rgba(0, 0, 0, .5);
  border: none;
  color: white;
  font-size: 1em;
  padding: 1em 1.5em;
  width: 100%;
  cursor: pointer;
}

.client button {
  position: relative;
  bottom: 0;
}

button.secondary {
  background: rgba(0, 0, 0, .25)
}

img.release_button {
  width: 2em;
  height: 2em;
  opacity: 0;
  transition: opacity .25s;
  position: absolute;
  top: -.9em;
  left: -.7em;
}

.client:hover img.release_button {
  opacity: .4;
}

img.release_button:hover {
  opacity: .8 !important;
}

.view_button {
  width: 3.5em;
  height: 3.5em;
  float: right;
  opacity: .15;
  margin: 0 0 .5em .5em;
}

.view_button:hover {
  opacity: .5;
}

