#adit_welcome{
    font-size: 4em;
    text-align: center;
    margin-top: -.2em;
}
img{
	vertical-align: -10%;
}
.sessions .alert-error {
    text-align: center;
}
.sessions .form-group input {
  padding: .4em .6em;
  margin: .5em 0;
  width: 100%;
  display: block;
}

.sessions input.btn {
  margin-top: 1em;
}

.sessions .panel {
  font-size: 1.2em;
  width: 20em;
  position: relative;
  margin: 0 auto;
  margin-top: 2em;
}

.sessions #container {
  background: none;
  margin-top: 4em !important;
}

.sessions h1#heading {
  display: none;
}





