.tickets .panel-heading h3{
  margin-bottom: 2em;
}

.tickets .panel-primary{
  border-color: black;
}

.tickets .addTicket {
  padding: .7em !important;
}

.tickets .panel-heading h3{
  margin-bottom: 2em;
}

.tickets #no_clients{
  float: left;
  margin-left: 1em;
  margin-top: .9em !important;
  font-size: 16px;  
}


.tickets #totalMessage{
  margin-left: 1em;
  margin-bottom: -.4em !important;
  margin-top: .3em !important;
  font-size: 16px;
}



.tickets #ticket_message{
  font-size: 20px;
  margin-top: -1em !important;
  color: #F5F56C;
}


.tickets #userMessage{
  font-size: 2.5em;
  text-align: center;
  background-color: black;
}


.tickets #ticket_info{
  font-size: 15px;
  text-align: right;
  margin-right: 1em;
  margin-bottom: -1em !important;
}

button.btn.btn-primary.btn-sm {
  //background: #eee; 
  //color: #666; 
  font-size: 1em; 
  padding: .2em .6em !important;
  border: none;
}

button.btn.btn-primary.btn-sm:hover {
  background: rgb(220, 0, 0);
  color: white;
}


.tickets #client_heading{
  height: 5em;
}

.tickets #clientsRemaining{
  margin-top: 1em !important;
  font-weight: bold;
}

.badge {
  background: #dc0000;
  color: #eee;
}

.tickets #midPriority{
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}
.tickets #highPriority{
  float: left;
  margin-left: 1em;
  margin-top: 1em !important;
  
}
.tickets #lowPriority{
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}

.ticket_table tbody {
  tr {
    height: 3em;
  }
  tr .priority span {
    padding: .2em .5em;
    border-left: .4em solid;
  }
  tr.high .priority span {
    //background: #e8ffe3;
    border-left-color: #43d852;
  }
  tr.medium .priority span {
    //background: #fefdca;
    border-left-color: #f3e32f;
  }
  tr.low .priority span {
    //background: #fff;
    border-left-color: #ddd;
  }
}

.tickets .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
  color: #000;
}

.tickets .btn-primary{
  padding: .1em .2em .1em .2em;
  margin-top: 0em !important;
}

.tickets #alert_info{
  border: 1px solid #ccc;
  background-color: #DC0000;
}


.tickets .addTicket.high, .addTicket.autoHide.high{
  background-color: #BFF5BB !important;
  color: black;
  border: 1px solid black !important;
  border-radius: 3px;
  padding-top: .2em;
  padding-bottom: .2em;
}

.tickets .addTicket.medium, .addTicket.autoHide.medium{
  background-color: #FAF9B1 !important;
  color: black;
  border: 1px solid black !important;
  border-radius: 3px;
  padding-top: .2em;
  padding-bottom: .2em;
}

.tickets .addTicket.low, .addTicket.autoHide.low{
  background-color: white !important;
  color: black;
  border: 1px solid black !important;
  border-radius: 3px;
  padding-top: .2em;
  padding-bottom: .2em;
}

.tickets .scroller{
  z-index:100; 
  font-size:12px;  
  margin: 1em 0 0;
  width: 93.2em;
  //margin-bottom: -3.2em !important;
  background-color: white; //#DC0000;
  color: #555; //white;
  border: solid #dc0000;
  border-width: 5px 0;
}
