.tickets .panel-heading h3{
	margin-bottom: 2em;
}

.tickets .panel-primary{
	border-color: black;
}

.tickets .panel-primary > .panel-heading {
    color: #FFF;
    background-color: black;
    border-color: black;
	height: 3em;
}

.tickets .panel-heading h3{
	margin-bottom: 2em;
}

.tickets #no_clients{
	float: left;
	margin-left: 1em;
	margin-top: .9em !important;
	font-size: 16px;	
}


.tickets #max_clients{
	float: left;
	margin-left: 1em;
	margin-top: 1em !important;
}



.tickets #ticket_message{
	font-size: 20px;
	margin-top: -1em !important;
}


.tickets #userMessage{
	font-size: 18px;
	text-align: center;
}


.tickets #ticket_info{
	font-size: 15px;
	text-align: right;
	margin-right: 1em;
	margin-bottom: -1em !important;
}


.tickets #client_heading{
	height: 5em;
}

.tickets #clientsRemaining{
	float: left;
	margin-left: 1em;
	margin-top: 1em !important;
	font-weight: bold;
}
.tickets #midPriority{
	float: left;
	float: left;
	margin-left: 1em;
	margin-top: 1em;
}
.tickets #highPriority{
	float: left;
	float: left;
	margin-left: 1em;
	margin-top: 1em !important;
	
}
.tickets #lowPriority{
	float: left;
	float: left;
	margin-left: 1em;
	margin-top: 1em;
}

.tickets .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border-color: transparent;
color: #000;
}


.tickets #alert_info{
	border: 1px solid #ccc;
	background-color: #DC0000;
}


.tickets .addTicket.high, .addTicket.autoHide.high{
	background-color: #BFF5BB !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
	padding-top: .2em;
	padding-bottom: .2em;
}

.tickets .addTicket.medium, .addTicket.autoHide.medium{
	background-color: #FAF9B1 !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
	padding-top: .2em;
	padding-bottom: .2em;
}

.tickets .addTicket.low, .addTicket.autoHide.low{
	background-color: white !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
	padding-top: .2em;
	padding-bottom: .2em;
}

.tickets .scroller{
	z-index:100; 
	font-size:12px;  
	margin-top: 5em;
	border: 1px solid #aaa;
	width: 100%;
	margin-bottom: -3.2em !important;
	background-color: #6D6D6D;
	color: white;
	}