// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#paste{
	font-size: 15px;
	margin-left: -15.8em;
	margin-top: 5em;
	float: left;
}


#parse_box{
	padding-bottom:20px;
}

.users #heading{
	float: left;
	margin-top: 10px;
}

#section_type{
	float: right;
	margin-top: -40px;
}


h1{
  padding-top: 0px;
}


#manage_dropdown{
	margin-top: 2em;
}
#new_section{
	margin-top: 5em;
	float: right;
	margin-right: -19.4em;
}

#new_section h5 .btn-link{
font-size: 15px;

}


textarea #input{
	background-color: blue;
}

	

#add_student{
	font-size: 15px;
	margin-top: 5em;
}



#action_submit{
	margin-left: 1em;
margin-bottom: 2em !important;
}