.users #info_message{
	width: 40em;
	margin-top: 6em;
}

.users .panel-primary{
	margin-top: 7em;
	border-color: black;
}

.users textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  margin-left: -1em;
  margin-bottom: 2em !important;
  margin-top: 5em;
  margin-left: .1em;
}

.users #create_section {
  margin-top: 1em !important;
}
.users #select_teacher{
	margin-bottom: 3em !important;
	margin-top: 1em !important;
}

.users .actions{
	margin-top: 2em;
	margin-left: -1em;
}

.users .btn.btn-large.btn-primary.btn-sm{
	margin-top:-2em !important;
}

.users #paste{
	font-size: 15px;
	margin-top: 5em;
	margin-left: -21em;
	margin-bottom: -5em !important;
}

.users #section_type{
	float: right;
	margin-top: -40px;
}

.users #manage_dropdown{
	margin-top: 2em;
}


.users #new_section {
margin-top: -2em;
float: right;
margin-right: 1.3em;
font-size: 1.2em;
}

.users #add_student {
font-size: 1.2em;
margin-left: -.4em;
margin-bottom: 2em !important;
}

.users #action_submit {
margin-left: 1em;
margin-top: .1em !important;
padding: .4em;
}

.users #add_teacher{
	float: right;
	margin-top: 6em !important;
	margin-right: -17.5em;
}

.label-field {
	text-align: right;
	padding: 3px;
}

.text-field {
	text-align: left;
	padding: 3px;
}