<h2>First Time User</h2>

<p>Is this your first time using this program?</p>

<%= button_to "Yes, I'm a N00B", users_full_help_path, :class => "button", :method => :get, :name => "change_help" %>
<%= button_to "Nah man, I got this!!!", root_path, :class => "button", :method => :get, :name => "change_help" %>
