<h1 class = "col-md-3", id = "heading">Submit New Client</h1>
<br /><br /><br /><br />

<div>
	<p>Check the tables below to see if your client has already been unapproved.</p>
</div>
<%= render 'form'%>
<br />
<h3>Clients Waiting for Approval</h3>
<% if @pending_clients.present?%>
	<%= render :partial => "pending", :locals => { :pending_clients => @pending_clients} %>
<% else %>
    There are currently no pending clients.
<% end %>

<h3>Unapproved Clients</h3>
<% if @unapprove_clients.present? %>
	<%= render :partial => "unapprove", :locals => { :unapprove_clients => @unapprove_clients} %>
<% else %>
    There are currently no unapproved clients.
<% end %>

