<h1 id = "heading">Edit Project</h1><br><br><br><br><br>

<%= render 'form' %>

<%= link_to 'Show', @project, :class => "btn btn-large btn-primary btn-sm"%> |
<%= link_to 'Back', projects_path, :class => "btn btn-large btn-primary btn-sm" %>
