<% provide(:title, "New Project") %>

<% if get_current_project %>
    <br /><br />
    <h2 class = "center">You cannot create another active project.</h2>
    <h4 class = "center">Please archive your current project or stop trying to get around the system.</h4>
<% else %>
    <%= render 'form' %>
<% end %>

<%= link_to 'Back to the Projects List', projects_path %>

