<% provide(:title, "#{@project.semester} #{@project.year} Project Details") %>

<% if(@project) %>
   <%= render 'project_info'%>
   <p><%= link_to 'Back to the Projects list', projects_path %></p>
<% end %>
