<% provide(:title, "Bonuses") %>

<table class ="display default_table">
	<thead>
		<tr>
			<th>Description</th>
			<th>Point Value</th>
			<th class="empty"></th>
			<th class="empty"></th>
		</tr>
	</thead>
	<tbody>
		<% @bonuses.each do |b| %>
			<tr>
				<td><%= b.name %></td>
				<td><%= b.point_value %></td>                   
				<td><%= link_to 'Edit', edit_bonus_type_path(b) %></td>
				<td><%= link_to 'Delete', b, method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>
