/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require framework_and_overrides
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= require jquery-ui-timepicker-addon
 *= require fancybox
 *= require jquery.ui.selectable  
 *= require_self
 *= require_tree .
*/


/* universal */

#select-section-1{
  padding-top: 5px;
}

.fake-link {
  cursor: pointer;
}

body {
  padding: 0;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  background: url(subtlenet2.png);
}

* {
  margin-bottom: 0 !important;
}

*:first-child {
  margin-top: 0 !important;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}

.navbar-nav a.dropdown-toggle {
  cursor: pointer;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#section_type{
  text-align: right;
  padding-right: 20px;
}

/* Mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

/* Miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  clear: both;
  margin-top: 1.5em;
}

h1 {
  font-size: 2.3em;
  //letter-spacing: -1px;
  //margin-bottom: 0px;
  //text-align: center;
}

h2 {
  font-size: 2em;
  //letter-spacing: -1px;
  //margin-bottom: 30px;
  font-weight: normal;
  
}

h3 {
  font-size: 1.5em;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 1em 0 0 0;
}


/* header */

#logo {
  display: block;
  float: left;
  background-color: #005baf;
  font-size: 1.1em;
  height: 4em;
  width: 12em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: 28px 14px;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default {
  border-top: .4em solid #005baf;
  border-bottom: .1em solid #005baf;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  a {
    color: #1C2C40;
    &:hover {
      border-bottom: 0px none;
    
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}

.navbar-default .navbar-nav > li > a {
  display: block;
  border-right: 1px solid #999;
  border-bottom: medium none;
  font-weight: 400;
  font-size: 1.1em;
  color: #999;
  padding: 0 1.5em;
  line-height: 4em;
  height: 4em;
  margin: 0;
  text-decoration: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
    color: rgb(85, 85, 85);
}

.navbar-collapse {
  padding: 0;
}

.dropdown-menu > li > a {
    background-color: white;

}
ul.dropdown-menu{
  margin-left: -25px;
}


.container,
#container {
    margin: 0 auto;
    max-width: 90em;
}

#container {
  padding: 3em 4em 4em;
  margin-top: 8em;
  margin-bottom: 8em !important;
  background: white;
}

#create_section{
  text-align: right;
  padding-right: 20px;
  margin-top: -20px;
}
/* footer */


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: grayLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


TD.dataTables_empty{
  background-color: #85a7d1 !important;
}

tr.medium.odd{
  background-color: #fffd71 !important;
}

tr.medium.even{
  background-color: #fffd71 !important;
}

tr.high.odd{
  background-color: #68ff5d !important;
}

tr.high.even{
  background-color: #68ff5d !important;
}

tr.low.odd{
  background-color: white !important;
}

tr.low.even{
  background-color: white !important;
}


table.dataTable tr.odd td.sorting_1 {
  background-color: transparent !important; }

table.dataTable tr.odd td.sorting_2 {
  background-color: transparent !important; }

table.dataTable tr.odd td.sorting_3 {
  background-color: transparent !important;}

table.dataTable tr.even td.sorting_1 {
  background-color: transparent !important; }

table.dataTable tr.even td.sorting_2 {
  background-color: transparent !important; }

table.dataTable tr.even td.sorting_3 {
  background-color: transparent !important; }

/*
 * Table wrapper
 */
.dataTables_wrapper {
  position: relative !important;
  clear: both;
  *zoom: 1;
  margin-top: 2em;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

.dataTables_wrapper > * {
  border: none;
}

.ui-widget-header {
  background-image: none;
  background: #ccc;
}

.ui-state-default {
  background-image: none;
  background: #eee;
}

.dataTables_scroll {
  overflow-x: auto;
}

.dataTable {
  width: 100% !important;
  border: none;
  margin: 0;
  white-space: nowrap;
}

.dataTable td,
.dataTable th {
  //width: auto !important;
}

table.display thead th div.DataTables_sort_wrapper span {
  top: 10%;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
