* {
  margin-bottom: 0 !important;
}

*:first-child {
  margin-top: 0 !important;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px !important;
  width: 60em;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px !important;
  width: 60em;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px !important;
  width: 60em;

}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px !important;

}

/*boostrap alerts*/
.alert-info {
background-color: #C9C9C9;
border-color: #B4B4B4;
color: #0F0F0F;
}

.fake-link {
  cursor: pointer;
}


/*buttons*/
.btn-primary {
  color: #fff;
  background-color: #DC0000;
  border-color: #AAA;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #A30D0D;
  border-color: #AAA;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}