// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#project_options{
	margin-top: 2em;
}

#priority_dropdown{
	align: right;
}

#active_project{
	color: black; 
}