// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions.new input {
  font-size: 1.2em;
  padding: .2em .4em;
  margin: .3em 0;
  width: 100%;
  display: block;
}

.sessions.new .panel {
  width: 20em;
  max-width: 40em;
  min-width: 15em;
  position: relative;
  margin: 0 auto;
}

.sessions #container {
  background: none;
}