// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.addTicket.autoHidehigh{
	background-color: #68ff5d !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
}

.addTickethigh{
background-color: #68ff5d !important;
color: black;
border: 1px solid black !important;
border-radius: 3px;
}

.addTicket.autoHidemedium{
	background-color: #fffd71 !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
}

.addTicketmedium{
background-color: #fffd71 !important;
color: black;
border: 1px solid black !important;
border-radius: 3px;
}

.addTicket.autoHidelow{
	background-color: white !important;
	color: black;
	border: 1px solid black !important;
	border-radius: 3px;
}

.addTicketlow{
background-color: white !important;
color: black;
border: 1px solid black !important;
border-radius: 3px;
}



.scroller_anchor{

	}

.scroller{
	z-index:100; 
	height: 70px; 
	font-size:18px;  
	text-align:right; 
	margin-top: 67px;
	margin-bottom: -30px;
	}

#alerts{
 
}