// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#paste{
	font-size: 15px;
}

#parse_box{
	padding-bottom:20px;
}

.users #heading{
	float: left;
	margin-top: 10px;
}

#section_type{
	float: right;
	margin-top: -40px;
}


.col-md-12{
	padding-left: 0px !important;
}

h1{
  padding-top: 0px;
}



#select-section-2{
	padding-top: 10px;
	font-size: 15px;
	padding-top: 12px;
	margin-left: -50px;
}

#select-section-2 h5 .btn-link{
font-size: 15px;

}


textarea #input{
	background-color: blue;
}

	

#link-2{
	font-size: 15px;
	margin-left: -10px;
}



#action_submit{
	margin-left: 10px;
	margin-top: 5px;
}