<% if Project.non_archived?%>
<%= debug @active_receipts%>
<%= debug @released_receipts%>
<%= debug @sold_receipts%>

This page is currently under construction by Noah Conrad.

<!--<span><%#= link_to 'Show', receipt_path(receipt) %></span> 
><div class="active <%#= Priority.find(ticket.priority_id).name%>"> -->
<% else %>
<p> There are currently no projects to view. <p>
<% end %>
