<p id="notice"><%= notice %></p> 

<h1>Listing updates</h1>

  
  <%= debug @receipt %>



<!--This does not go to the right place, there will be individual edits on each update
	<%#= link_to 'Edit', edit_receipt_path(@receipt) %> -->
<%= link_to 'New', new_action_path %
<%= link_to 'Back', receipts_path %>
