<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>
<% provide(:title, 'Activities') %>

<p>
  Download:
  <%= link_to "Excel", reports_activities_path(format: "xls") %>
</p>

<div id = "section_refresh">
<%= render :partial => 'activities'%>
</div>
