<script>
    $("#bonus_edit").hide();

   	// This does not work properly, please help!
    function edit_bonus(caller)
    {
    	$("#bonus_edit").show();
    	$("#bonus_points").val( $("#" + caller.target.id).attr("name") );
    	$("#bonus_comment").val( $("#" + caller.target.id).attr("value") );
	}
</script>

<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>
<p>
  Download:
  <%= link_to "Excel", reports_bonus_path(format: "xls") %>
</p>

<% provide(:title, 'Bonuses') %>

<%= render :partial => 'bonus'%>