<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>

<% provide(:title, 'Sales') %>

<!-- EXPO
<p>
  Download:
  <%= link_to "Excel", reports_sales_path(format: "xls") %>
</p> -->


<div id = "section_refresh">  
<%= render :partial => 'sales'%>
</div>
