<h1>Sales</h1>

<!--Tells the teacher what section is active-->
<h5 class = "col-md-4" id="section_type" >
	<p class = "text-success">
		<%= @current.first_name || @current.school_id.capitalize %>,
			<% if @selected_section == 'all' %>
				these are all the sections for this project.
			<% elsif @selected_section.nil? %>
				you need to create a section.
			<% else%>
				this is section <%= "#{@selected_section} "%>
			<% end %>
	</p>
</h5>

<div class = "col-md-5", id = "select-section">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Change Section<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  <% @sections.each do |s|%>
     <li>
      <%= link_to "#{s}", {:controller => :users, :action => :set_section, :section_option => "#{s}"}, :method => :post %>
     </li>
  <% end %>
</ul>
</div>
</div>

<div id = "section_refresh">  
<%= render :partial => "sales"%>
</div>
