<% if current_user.role == 3 %>
	<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>
	<% provide(:title, "Student Summary ") %>
<% else %>
	<% provide(:title, "#{current_user.full_name_only}'s Team Summary") %>
<% end %>


<p>
  Download:
  <%= link_to "Excel", reports_student_summary_path(format: "xls") %>
</p>

<div id = "section_refresh">  
	<%= render :partial => "student_summary"%>
</div>
