<h1>Student Summary</h1>

<div class = "col-md-5", id = "select-section">
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Change Section<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  <% @sections.each do |s|%>
     <li>
      <%= link_to "#{s}", {:controller => :users, :action => :set_section, :section_option => "#{s}"}, :method => :post %>
     </li>
  <% end %>
</ul>
</div>
</div>

<div id = "section_refresh">  
<%= render :partial => "student_summary"%>
</div>