<% if current_user.role == 3 %>
	<%= render :partial => 'dropdown' , :locals => {:sections => @sections}%>	
<% end %>

<% provide(:title, 'Team Summary') %>


<%if defined? @team_data %>
  <p>
    Download:
    <%= link_to "Excel", reports_team_summary_path(format: "xls") %>
  </p>
<% end %>

<% if @team_data.empty? %>
<p class="info-message alert alert-info"> Assign student managers on the <%=link_to "Manage Students", users_path %> page to see team data!</p>
<% end %>
<div id = "section_refresh">
<%= render :partial => "team_summary"%>
</div>
