<% provide(:title, "Team Contact Information") %>
<%if defined? @students %>
   <% provide(:excel, (link_to (image_tag 'excel.png'), reports_team_data_path(format: "xls"), :title => "Export to Excel").html_safe) %>
<% end %>

<div id = "section_refresh">
<%= render :partial => "team_data", :locals => { :current_students => @students }%>
</div>
