<div class="panel panel-default teacher_info" >
	<div class="panel-body">

		<strong>Project:</strong> <%= get_selected_project.semester + ' ' + get_selected_project.year.to_s %><br />
		<% if get_selected_section == 'all' %>
		<strong>Sections:</strong><span id="currentSection">All</span>
		<% else %>
		<strong>Section:&nbsp;</strong><span id="currentSection"><%= get_selected_section %></span>
		<% end %>
		<br />
		<strong>Current User:</strong> <%= @current_user.last_name  || @current_user.school_id%>

	</div>
</div>
